<section id="intro" class="main special">
  <header class="major">
    <h2>Subscription</h2>
  </header>
  <form action="/purchase" method="POST">
  <!-- Note that the amount is in paise = 1000 INR -->
  <script
    src="https://checkout.razorpay.com/v1/checkout.js"
	data-key="<%= ENV['RAZORPAY_KEY_ID'] %>"
    data-amount="100000"
    data-buttontext="Pay with Razorpay"
    data-name="TNJA"
    data-description="Subscription Fee"
    data-image="/assets/logo.png"
	data-prefill.name="<%= current_user.full_name %>"
	data-prefill.email="<%= current_user.email %>"
    data-theme.color="#F37254"
  ></script>
  <input type="hidden" value="Hidden Element" name="hidden">
  </form>
</section>
<section class="main special">
  <header class="major">
    <h2>Defaulters</h2>
  </header>
  <dl class="alt">
  <% @defaulters.each do |user| %>
    <dt><%= user.rank %></dt>
    <dd><%= user.full_name %></dd>
  <% end %>
  </dl>
</section>

